.case-studies {
  padding: 184px 0;
}

.case-studies__title {
  max-width: 1070px;
  margin-bottom: 12px;
}
.title {
  font-size: 80px;
  font-weight: 800;
  line-height: 94px;

  color: #1f1f1f;
}
.case-studies__text {
  max-width: 1070px;
  margin-bottom: 100px;
}
.text {
  font-size: 28px;
  line-height: 44px;
  font-weight: 500;
  color: #636363;
}
